<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Default Meta Data -->
    <block name='meta'>
      <meta name='description' content='{{ site.sitedata[0].metadesc }}'>
      <meta name='keywords' content='{{ site.sitedata[0].metakeyword }}'>
    </block>

    <!-- Facebook Meta -->
    <block name='smm'>
      <meta property="og:url" content="{{ site.sitedata[0].siteurl }} ">
      <meta property="og:title" content="{{ site.sitedata[0].sitename }} ">
      <meta property="og:description" content="{{ site.sitedata[0].metadesc }}">
      <meta property="og:image" content="{{ site.sitedata[0].screenshot }} ">
    </block>

    <!-- Site or Page title -->
    <block name='title'>
      <title>Home - {{ site.sitedata[0].sitename }}</title>
    </block>

    <!-- Google Site Verification Code -->
    <meta name="google-site-verification" content="{{ site.sitedata[0].console }}">

    <!-- Stylesheets section -->
    <link rel='stylesheet' href='css/index.css' />

  </head>

  <body>
    <main id='{{ pageId }}'>
      <block name='content'></block>
    </main>

    <block name='javascript'>
      <script src="https://forms.webriq.com/js/initForms"></script>
      <script src='js/main.js' defer></script>      
    </block>
  </body>
</html>
