<!-- Default Meta Data -->
<block name='meta'>
  <meta name='description' content='Thank you page description'>
  <meta name='keywords' content='Thank you keywords'>
</block>

<!-- Facebook Meta Customize -->
<block name='smm'>
  <meta property="og:url" content='{{ site.sitedata[0].siteurl }}/thank-you'>
  <meta property='og:title' content='{{ site.sitedata[0].sitename }} - Thank you '>
  <meta property='og:description' content='{{ site.sitedata[0].metadesc }}'>
  <meta property='og:image' content='{{ site.sitedata[0].screenshot }}'>
</block>

<!-- Site or Page title -->
<block name='title'>
  <title>Thank you - {{ site.sitedata[0].sitename }}</title>
</block>


<extends src='layout.html'>
  <block name='content'>
    <div class="content-body" style="text-align: center; max-width: 620px; margin: 0 auto">
      <h1>{{ site.sitedata[0].sitename }}</h1>
      <p>{{ site.sitedata[0].metadesc }}</p>
      <br />
      <h2>Thank you!</h2>
      <h3>Thanks for filling out our form!</h3>
      <p>We have received your message and would like to thank you for writing to us. If your inquiry is urgent, please use the telephone number listed below to talk to one of our staff members. Otherwise, we will reply by email as soon as possible.</p>
      <b>Call Us:</b>
      <a href="tel:{{ site.sitedata[0].phone }}">{{ site.sitedata[0].phone }}</a>
      <p><a href="/">Back</a></p>
    </div>
  </block>
</extends>
